colorama
colorlog
datasets
faster_tokenizer
jieba
onnx
onnxconverter_common
onnxruntime
pypinyin
pytorch_lightning
scikit_learn
scipy
seaborn
sentencepiece
setuptools
spacy
streamlit
torchmetrics
transformers
